<!DOCTYPE html>
<html>
<head>
    <title>图书管理系统登录</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
<h1>图书管理系统登录</h1>
<form id="loginForm">
    <div>
        <label for="username">用户名:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">密码:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">登录</button>
    </div>
</form>
<div id="error"></div>
</body>
</html>
